<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8">
<title>Glosas</title>
<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
<header role="banner" id="banner">
<h1>{{ site.title }}</h1>
<em class="eyebrow">{{ site.program }}</em>
</header>
<nav id="global">
<a href="{{ site.baseurl }}/">Inicio</a>
<a href="{{ site.baseurl }}/edicion">Criterios de edición</a>
<a href="{{ site.baseurl }}/reonocimientos">Equipo de trabajo</a>
<a href="{{ site.baseurl }}/publicaciones">Publicaciones</a>
<a href="{{ site.baseurl }}/contactenos">Contacto</a>
</nav>

<main id="main" role="main">
<div class="content">
{{ content }}
</div>
<nav id="autores">
<h1>Navegación</h1>
<h2>Palabras</h2>
<a href="{{ site.baseurl }}/palabrasgeneral/">Glosario General</a>
<h2>Autores</h2>
{% for autore in site.autores %}
<a href="{{ autore.url }}">{{ autore.title }}</a>
{% endfor %}
</nav>
</main>
</html>
